<h1>Home#index</h1>

<% if user_signed_in?%>

  <h1> Bem-vindo a loja da AcademiaDL </h1>

  <%= link_to "logout", destroy_user_session_path, method: :delete  %>

<% else %>

  <h2>Você não está logado ! porfavor se cadastre.<%= link_to "Sign up", new_user_registration_path %></h2>

<% end %>

<%= link_to "Login", new_user_session_path, class: "navbar-link"  %>
